body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

.logo img {
width: 10%;
height: 10%;
}

header {
  background: rgb(247, 29, 0);
  padding: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

nav {
  background: black;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(247, 29, 0);
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

details {
  background-color: rgb(247, 29, 0);
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

summary {
  font-weight: bold;
  font-size: 19px;
  color: white;
}

details p {
  margin-top: 10px;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.galeria {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 20px;
  margin-top: 20px;
  
}

.participantes {
  background: black;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.participantes:hover {
  transform: scale(1.05);
  background: black;
}

.participantes img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

footer {
  text-align: center;
  background: black;
  padding: 20px;
  font-size: 16px;
  color: gainsboro;
}

.sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100vh;
      background-color: rgb(247, 29, 0);
      padding-top: 30px;
      color: black;
      
    }

    .sidebar h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 20px;
      border-bottom: 1px solid black;
      padding-bottom: 15px;
    }

    .sidebar a {
      display: block;
      padding: 31.5px 20px;
      color: black;
      text-decoration: none;
      border-bottom: 1px solid black;
      
    }

    .sidebar a:hover {
      background-color: black;
      color: white;
      border-left-color: white; 
    }

    /*sidebar*/
    /*calendario*/
 .calendario-cuadro table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  font-size: 18px;
  border-radius: 15px;
}

.calendario-cuadro th,
.calendario-cuadro td {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
}

.calendario-cuadro th {
  background-color: rgb(247, 29, 0);
  color: white;
}

.calendario-cuadro tr {
  background-color: rgb(58, 58, 58);
}
.calendario-cuadro tr:hover {
  background-color: rgb(114, 5, 5);
}

.calendario-cuadro ol {
  text-align: left;
}
/*fin calendario*/
